.logotip {
  padding: 10px 900px; 
}

h1{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color:rgb(42, 42, 189) ;
  line-height: 10px;
}
h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(42, 42, 189);
  line-height: 10px;
}
h3 {
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(42, 42, 189);
}
.about h3{
  font-size: 45px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: black;
}
p, li {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  color: black;
}
.about li{
  list-style-image: url(../Р”РРќРђРњРРљРђ/img/ball.png);
}


